<link rel="stylesheet" href="{{ oViewConf.getResourceUrl() }}main.css">
<link rel="stylesheet" href="{{  oViewConf.getModuleUrl('tcklarna', 'out/admin/src/css/tcklarna_admin2.css')  }}">
<link rel="stylesheet" href="{{  oViewConf.getModuleUrl('tcklarna', 'out/admin/src/css/tooltipster.bundle.min.css')  }}">
<link rel="stylesheet" href="{{  oViewConf.getModuleUrl('tcklarna', 'out/admin/src/css/tooltipster-sideTip-light.min.css')  }}">
<script type="text/javascript" src="{{  oViewConf.getModuleUrl('tcklarna', 'out/src/js/libs/jquery-1.12.4.min.js')  }}"></script>
<script type="text/javascript"
        src="{{  oViewConf.getModuleUrl('tcklarna', 'out/src/js/libs/tooltipster.bundle.min.js')  }}"></script>
{% if sslNotSet  %}
{% endif %}

<div class="{{ box|default('box') }}" style="{% if not box and not bottom_buttons %}height: 100%;{% endif %}">

    <script type="text/javascript">
        var tcklarna_countriesList = JSON.parse('{{  tcklarna_countryList|raw  }}');
    </script>

    {% if readonly  %}
        {% set readonly = "readonly disabled" %}
    {% else %}
        {% set readonly = "" %}
    {% endif %}

    <div class="main-container">
        {% set tabName = "TCKLARNA_BASIC_SETTINGS"|translate %}
        {% include "@tcklarna/tcklarna_header.html.twig" with {title: "TCKLARNA_CONFIGURATION_KCO"|translate, desc: "TCKLARNA_CONFIGURATION_KCO_ADMIN_DESC"|translate} %}
        <hr>
        {% if sslNotSet  %}
            <br>
            <div class="messagebox danger" style="display: block">
                <strong>{{ "TCKLARNA_ERROR_SHOP_SSL_NOT_CONFIGURED"|translate }}</strong>
            </div>
            <br>
        {% endif %}
        {% if KCOinactive  %}
            <br>
            <div class="messagebox danger" style="display: block">
                <strong>{{ translate({ ident: "TCKLARNA_ERROR_KCO_INACTIVE" }) }}</strong>
            </div>
            <br>
        {% endif %}
        <form name="myedit" id="myedit" method="post" action="{{ oViewConf.getSelfLink()|raw }}"
              enctype="multipart/form-data"
              data-error="{{ oView.getErrorMessages()|raw }}"
              data-langs="{{ oView.getLangs()|raw }}">
            <input type="hidden" name="MAX_FILE_SIZE" value="{{ iMaxUploadFileSize }}">
            {{ oViewConf.getHiddenSid()|raw }}
            <input type="hidden" name="cl" value="KlarnaConfiguration">
            <input type="hidden" name="fnc" value="save">

            <table class="klarna-conf-table fix1">
                <tr class="bg-grey">
                    <td>
                        {{ translate({ ident: "TCKLARNA_DEFAULT_SHOP_COUNTRY" }) }}:
                    </td>
                    <td>
                        <div class="selector" id="defaultCountry">
                            <div class="selector__menu">
                                <ul class="selector__choices">
                                    {% for oxCountry in activeCountries %}
                                        <li class="selector__item{% if confstrs.sKlarnaDefaultCountry is same as(oxCountry.oxcountry__oxisoalpha2.value|raw ) %}--selected{% endif %}">
                                            <a href="#" data-value={{  oxCountry.oxcountry__oxisoalpha2.value|raw  }}>
                                                {{  oxCountry.oxcountry__oxtitle.value|raw  }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <input type="hidden" name="confstrs[sKlarnaDefaultCountry]"
                                       value="{{ confstrs.sKlarnaDefaultCountry|raw }}">
                            </div>
                        </div>
                    </td>
                    <td>
                        <span class="kl-tooltip" title="{{ translate({ ident: "TCKLARNA_DEFAULT_COUNTRY_TOOLTIP" }) }}">
                            <i class="fa fa-question fa-lg" aria-hidden="true"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>{{ translate({ ident: "TCKLARNA_ALLOW_SEPARATE_SHIPPING_ADDRESS" }) }}</td>
                    <td>
                        <div class="input w356">
                            <div class="display">
                                <label class="label toggle kco" for="AllowSeparateDeliveryAddress">
                                    <input type="hidden" name="confbools[blKlarnaAllowSeparateDeliveryAddress]"
                                           value="0">
                                    <input type="checkbox" name="confbools[blKlarnaAllowSeparateDeliveryAddress]"
                                           value="1" id="AllowSeparateDeliveryAddress"
                                           {% if (confbools.blKlarnaAllowSeparateDeliveryAddress) %}checked{% endif %} {{  readonly }}>
                                    <div class="toggle-control"></div>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                    <span class="kl-tooltip" title="{{ translate({ ident: "TCKLARNA_ALLOW_SEPARATE_DELIVERY_ADDRESS_TOOLTIP" }) }}">
                        <i class="fa fa-question fa-lg" aria-hidden="true"></i>
                    </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="messagebox warn"></div>
                    </td>
                </tr>
                <tr class="bg-grey">
                    <td>{{ translate({ ident: "TCKLARNA_PHONE_NUMBER_MANDATORY" }) }}</td>
                    <td>
                        <div class="input w356">
                            <div class="display">
                                <label class="label toggle kco" for="MandatoryPhone">
                                    <input type="hidden" name="confbools[blKlarnaMandatoryPhone]" value="0">
                                    <input type="checkbox" name="confbools[blKlarnaMandatoryPhone]" value="1"
                                           id="MandatoryPhone"
                                           {% if (confbools.blKlarnaMandatoryPhone) %}checked{% endif %} {{  readonly }}>
                                    <div class="toggle-control"></div>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                    <span class="kl-tooltip" title="{{ translate({ ident: "TCKLARNA_MANDATORY_PHONE_TOOLTIP" }) }}">
                        <i class="fa fa-question fa-lg" aria-hidden="true"></i>
                    </span>
                    </td>
                </tr>

                <tr>
                    <td>{{ translate({ ident: "TCKLARNA_DATE_OF_BIRTH_MANDATORY" }) }}</td>
                    <td>
                        <div class="input w356">
                            <div class="display">
                                <label class="label toggle kco" for="MandatoryBirthDate">
                                    <input type="hidden" name="confbools[blKlarnaMandatoryBirthDate]" value="0">
                                    <input type="checkbox" name="confbools[blKlarnaMandatoryBirthDate]" value="1"
                                           id="MandatoryBirthDate"
                                           {% if (confbools.blKlarnaMandatoryBirthDate) %}checked{% endif %} {{  readonly }}>
                                    <div class="toggle-control"></div>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                    <span class="kl-tooltip" title="{{ translate({ ident: "TCKLARNA_MANDATORY_BIRTH_DATE_TOOLTIP" }) }}">
                        <i class="fa fa-question fa-lg" aria-hidden="true"></i>
                    </span>
                    </td>
                </tr>

                <tr class="bg-grey">
                    <td>{{ translate({ ident: "TCKLARNA_ENABLE_AUTOFOCUS" }) }}</td>
                    <td>
                        <div class="input w356">
                            <div class="display">
                                <label class="label toggle kco" for="EnableAutofocus">
                                    <input type="hidden" name="confbools[blKlarnaEnableAutofocus]" value="0">
                                    <input type="checkbox" name="confbools[blKlarnaEnableAutofocus]" value="1"
                                           id="EnableAutofocus"
                                           {% if (confbools.blKlarnaEnableAutofocus) %}checked{% endif %} {{  readonly }}>
                                    <div class="toggle-control"></div>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                    <span class="kl-tooltip" title="{{ translate({ ident: "TCKLARNA_ENABLE_AUTOFOCUS_TOOLTIP" }) }}">
                        <i class="fa fa-question fa-lg" aria-hidden="true"></i>
                    </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="inner-table-wrapper">
                        <table class="inner-table">
                            <tr>
                                <td>{{ translate({ ident: "TCKLARNA_ADD_A_CUSTOM_CHECKBOX" }) }}</td>
                                <td></td>
                                <td>
                                    <span class="kl-tooltip" title="{{ translate({ ident: "TCKLARNA_CHECKBOX_TOOLTIP" }) }}">
                                        <i class="fa fa-question fa-lg" aria-hidden="true"></i>
                                    </span>
                                </td>

                            </tr>
                            <tr>
                                {% for sValue, sLabel in oView.getKlarnaCheckboxOptions() %}
                            <tr>
                                <td class="conf-label-2">{{ sLabel }}</td>
                                <td>
                                    <div class="input w356">
                                        <input type="radio"
                                               name="confstrs[iKlarnaActiveCheckbox]"
                                               id="checkbox_{{ sValue }}"
                                               class="radio-custom"
                                               {% if oView.getActiveCheckbox() == sValue %}checked="checked"{% endif %}
                                               value="{{ sValue }}"/>
                                        <label class="radio-custom-label" for="checkbox_{{ sValue }}"></label>
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>
                            {% endfor %}
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="bg-grey">
                    <td colspan="3" class="inner-table-wrapper">
                        <table class="inner-table">
                            <tr>
                                <td>{{ translate({ ident: "TCKLARNA_ORDER_VALIDATION" }) }}</td>
                                <td></td>
                                <td>
                                    <span class="kl-tooltip" title="{{ translate({ ident: "TCKLARNA_VALIDATION_TOOLTIP" }) }}">
                                        <i class="fa fa-question fa-lg" aria-hidden="true"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                {% for sValue, sLabel in oView.getKlarnaValidationOptions() %}
                            <tr>
                                <td class="conf-label-2">{{ sLabel }}</td>
                                <td>
                                    <div class="input w356">
                                        <input type="radio"
                                               name="confstrs[iKlarnaValidation]"
                                               id="validation_{{ sValue }}"
                                               class="radio-custom"
                                               {% if oView.getChosenValidation() == sValue %}checked="checked"{% endif %}
                                               value="{{ sValue }}"/>
                                        <label class="radio-custom-label" for="validation_{{ sValue }}"></label>
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>
                            {% endfor %}
                            </tr>
                        </table>
                    </td>
                </tr>

                {# if $oView->isGBActiveShopCountry()}]
 <tr class="bg-grey">
 <td>
 <div class="klarna-flag gb"></div>
 <div class="text-after-flag">
 {{ translate({ ident: "TCKLARNA_SALUTATION_MANDATORY" }) }}
 </div>
 </td>
 <td>
 <div class="input w356">
 <div class="display">
 <label class="label toggle kco">
 <input type="hidden" name="confbools[tcklarna_blKlarnaSalutationMandatory]" value="0">
 <input type="checkbox" name="confbools[tcklarna_blKlarnaSalutationMandatory]" value="1"
 {% if (confbools.tcklarna_blKlarnaSalutationMandatory) %}checked{% endif %} {{  readonly }}>
 <div class="toggle-control"></div>
 </label>
 </div>
 </div>
 </td>
 <td>
 <span class="kl-tooltip" title="{{ translate({ ident: "TCKLARNA_SALUTATION_MANDATORY_TOOLTIP" }) }}">
 <i class="fa fa-question fa-lg" aria-hidden="true"></i>
 </span>
 </td>
 </tr>
 [{/if #}
                {% if blGermanyActive  %}
                    {# <tr> #}
                    {# <td> #}
                    {# <div class="klarna-flag de"></div> #}
                    {# <div class="text-after-flag"> #}
                    {# {{ translate({ ident: "TCKLARNA_ENABLE_DHL_PACKSTATION" }) }} #}
                    {# </div> #}
                    {# </td> #}
                    {# <td> #}
                    {# <div class="input w356"> #}
                    {# <div class="display"> #}
                    {# <label class="label toggle kco"> #}
                    {# <input type="hidden" name="confbools[tcklarna_blKlarnaEnableDHLPackstations]" value="0"> #}
                    {# <input type="checkbox" name="confbools[tcklarna_blKlarnaEnableDHLPackstations]" value="1" #}
                    {# {% if (confbools.tcklarna_blKlarnaEnableDHLPackstations) %}checked{% endif %} {{  readonly }}> #}
                    {# <div class="toggle-control"></div> #}
                    {# </label> #}
                    {# </div> #}
                    {# </div> #}
                    {# </td> #}
                    {# <td> #}
                    {# <span class="kl-tooltip" title="{{ translate({ ident: "TCKLARNA_ENABLE_DHL_PACKSTATIONS_TOOLTIP" }) }}"> #}
                    {# <i class="fa fa-question fa-lg" aria-hidden="true"></i> #}
                    {# </span> #}
                    {# </td> #}
                    {# </tr> #}
                {% endif %}
                <tr>
                    <td>{{ translate({ ident: "TCKLARNA_ENABLE_PRE_FILLING" }) }}</td>
                    <td>
                        <div class="input w356">
                            <div class="display">
                                <label class="label toggle kco" for="EnablePreFilling">
                                    <input type="hidden" name="confbools[blKlarnaEnablePreFilling]" value="0">
                                    <input type="checkbox" name="confbools[blKlarnaEnablePreFilling]" value="1"
                                           id="EnablePreFilling"
                                           {% if (confbools.blKlarnaEnablePreFilling) %}checked{% endif %} {{  readonly }}>
                                    <div class="toggle-control"></div>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                    <span class="kl-tooltip" title="{{ translate({ ident: "TCKLARNA_ENABLE_PRE_FILLING_TOOLTIP" }) }}">
                        <i class="fa fa-question fa-lg" aria-hidden="true"></i>
                    </span>
                    </td>
                </tr>

                {% if blGermanyActive or blAustriaActive %}
                    <tr class="bg-grey">
                        <td>
                            {% if blGermanyActive %}
                                <div class="klarna-flag de"></div>
                            {% endif %}
                            {% if blAustriaActive %}
                                <div class="klarna-flag at"></div>
                            {% endif %}
                            <div class="text-after-flag">
                                {{ translate({ ident: "TCKLARNA_ENABLE_PREFILL_NOTIFICATION" }) }}
                            </div>
                        </td>
                        <td>
                            <div class="input w356">
                                <div class="display">
                                    <label class="label toggle kco" for="PreFillNotification">
                                        <input type="hidden" name="confbools[blKlarnaPreFillNotification]" value="0">
                                        <input type="checkbox" name="confbools[blKlarnaPreFillNotification]" value="1"
                                               id="PreFillNotification"
                                               {% if (confbools.blKlarnaPreFillNotification) %}checked{% endif %} {{  readonly }}>
                                        <div class="toggle-control"></div>
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                    <span class="kl-tooltip" title="{{ translate({ ident: "TCKLARNA_ENABLE_PREFILL_NOTIFICATION_TOOLTIP" }) }}">
                        <i class="fa fa-question fa-lg" aria-hidden="true"></i>
                    </span>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="3" class="inner-table-wrapper">
                        <table class="mlm5 inner-table">
                            <tr>
                                <td class="saveinnewlangtext">
                                    {{ translate({ ident: "GENERAL_LANGUAGE" }) }}
                                </td>
                                <td>
                                    <div class="input">
                                        <div class="selector" id="langSelector">
                                            <div class="selector__menu">
                                                <ul class="selector__choices">
                                                    {% for lang, olang in languages %}
                                                        <li class="selector__item{% if lang == editlanguage %}--selected{% endif %}">
                                                            <a href="#" data-value="{{  lang  }}">{{  olang.name  }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                <input type="hidden" name="editlanguage" id="editlanguage"
                                                       class="saveinnewlanginput"
                                                       value="{{  editlanguage  }}">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>
                            {% include "@tcklarna/tcklarna_lang_spec_conf.html.twig" %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="messagebox info">{{ "TCKLARNA_CHANGES_SAVED"|translate }}</div>
                    </td>
                </tr>

                <tr>
                    <td class="center" colspan="3">
                        <input type="submit" name="save" value="{{ translate({ ident: "GENERAL_SAVE" }) }}"
                               class="btn-save" id="form-save-button" {{ readonly }}>
                    </td>
                </tr>

            </table>

        </form>
    </div>
</div>

<script src="{{  oViewConf.getModuleUrl('tcklarna', 'out/admin/src/js/tcklarna_admin_lib.js')  }}"></script>
<script src="{{  oViewConf.getModuleUrl('tcklarna', 'out/admin/src/js/tcklarna_admin_configuration.js')  }}"></script>