{% extends "page/checkout/inc/summary_sidebar.html.twig" %}

{% block basket_btn_next_bottom %}
    {{ parent() }}
    {% if (oViewConf.getActiveClassName() == 'basket' and oViewConf.displayExpressButtonInBasket()) %}

        {% block basket_btn_next_bottomklarnaexpress_spacer %}
            <div class="clear clearfix" style="margin-bottom: 15px;"></div>
        {% endblock %}

        <div id="klarna_express_button" class="pull-right" style="display: none"></div>

        <script>
            var tcKlarnaKebTheme = "{{ oViewConf.getKlarnaKEBTheme() }}";
            var tcKlarnaKebShape = "{{ oViewConf.getKlarnaKEBShape() }}";
        </script>
        {{ script({ include: "https://x.klarnacdn.net/kp/lib/v1/api.js", priority: 100, dynamic: __oxid_include_dynamic }) }}
        <script>
            window.klarnaAsyncCallback = function () {
                window.Klarna.Payments.Buttons.init({
                    client_id: '{{ oViewConf.getKEBClientId() }}',
                }).load(
                    {
                        container: '#klarna_express_button',
                        theme: tcKlarnaKebTheme,
                        shape: tcKlarnaKebShape,
                        locale: '{{ oViewConf.getLocale() }}',
                        on_click: (authorize) => {

                            var form = $('#toBasket').parents('form');
                            var inputElement = form.find('input[type="hidden"][name="fnc"][value="tobasket"]');
                            inputElement.remove();

                            $.ajax({
                                type: 'POST',
                                data: form.serialize(),
                                dataType: 'json',
                                url: '?cl=oxwarticledetails&fnc=tobasketKEB',
                                success: function (keborderpayload) {
                                    authorize({ auto_finalize: false, collect_shipping_address: true }, keborderpayload, (result) => {
                                        tcKlarnaRedirectToCheckout(result);
                                    })
                                }
                            })
                        },
                    },
                    function load_callback(loadResult) {
                        $('#klarna_express_button').show();
                    }
                )
            }

            function tcKlarnaRedirectToCheckout(kebauthresponse) {
                if (!kebauthresponse || kebauthresponse.approved === false) {
                    window.location.reload();
                } else {
                    var form = document.createElement('form');
                    var token = $('input[name="stoken"]').val();
                    form.method = 'POST';
                    form.action = '?cl=order&redirected=1&stoken='+token;

                    var kebauthrespField = document.createElement('input');
                    kebauthrespField.type = 'hidden';
                    kebauthrespField.name = 'kebauthresponse';
                    kebauthrespField.value = JSON.stringify(kebauthresponse);
                    form.appendChild(kebauthrespField);

                    document.body.appendChild(form);
                    form.submit();
                }
            }

        </script>
    {% endif %}
{% endblock %}