<div class="klarna-header">
    <div class="w7">
        <h1>{{  title  }}</h1>
        <p>{{ translate({ ident: "TCKLARNA_GENERAL_SETTINGS_ADMIN_DESC", args: oView.getManualDownloadLink() }) }}</p>
    </div>
    <div class="w5">
        <div class="klarna-logo">
        </div>
    </div>
</div>
<div>
    {% if Errors|is_array and Errors.default|is_array and not empty(Errors.default) %}
        {% for key, oEr in Errors.default %}
            <div class="messagebox danger" style="display:block;">{{ oEr.getOxMessage() }}</div>
        {% endfor %}
    {% endif %}

    {% if Errors.popup|is_array and not empty(Errors.popup) %}
        <div class="modal fade" id="error-popup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="visually-hidden-focusable">Close</span>
                        </button>
                        <div class="h4 modal-title" id="basketModalLabel">Error</div>
                    </div>
                    <div class="modal-body">
                        <div id="modalbasketFlyout" class="basketFlyout">
                            {% for key, oEr in Errors.popup %}
                            <p class="alert alert-danger">{{ oEr.getOxMessage() }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ script({ add: "$('#error-popup').modal('show');", dynamic: __oxid_include_dynamic }) }}
    {% endif %}
</div>