{% extends "email/html/order_cust.html.twig" %}

{% block email_html_order_cust_paymentinfo_top %}
    {% if payment.isKlarnaPayment() %}
        <h3 class="underline">{{ translate({ ident: "PAYMENT_METHOD" }) }}</h3>
        <img src="http:{{ payment.getBadgeUrl() }}"
             style="padding: 0 10px 10px {% if payment.oxuserpayments__oxpaymentsid.value is same as('klarna_checkout') %}0 {% else %}10px{% endif %};{% if payment.oxuserpayments__oxpaymentsid.value is same as('klarna_checkout') %} width: 117px;{% endif %}" width="117">
        <br>
        {% if payment.oxuserpayments__oxpaymentsid.value is same as('klarna_checkout') %}<br>{% endif %}
        <p>
            <b>{{ payment.oxpayments__oxdesc.value }} {% if basket.getPaymentCosts() %}({{ basket.getFPaymentCosts() }} {{ currency.sign }}){% endif %}</b>
        </p>
        <br>
        <br>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}